@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.custom-img {
  background-image: url('https://images.unsplash.com/photo-1672872476232-da16b45c9001?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80');
  background-repeat: no-repeat;
}

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-xs
    tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40
    hover:text-[#F7AB0A]/40
  }

  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4
    w-full border-[#242424] text-gray-400 placeholder-gray-500 transition-all focus:border-[#F7AB0A]
    focus:text-[#F7AB0A]
  }
}